.div_one {

    padding-left:20px;
    padding-right:20px;
    padding-top: 30px;
    padding-bottom: 20px;

}

.profile_image{
        width: 50%;
        height: 50%;
        object-fit: cover;
      }
.profile_bio_padding {
    padding-top: 60px;


}

.profile_font_size
{
    font-size: 150%;
}